.tabs {
    width: 100%;
    background-color: white;
    border: #dcdfe6 1px solid;
}

.tabs-btn {
    display: flex;
    overflow: auto;
    background-color: #f5f7fa;
    text-align: left;

    button {
        padding: 0.8rem 1rem;
        border: none;
        color: gray;
        background-color: transparent;
        border-bottom: 1px solid #dcdfe6;

        &:hover {
            color: #409eff;
        }
    }

    span {
        flex: 1;
        border-bottom: 1px solid #dcdfe6;
    }

    .tabs-select {
        background-color: white;
        color: #409eff;
        border-bottom: none;
        border-right: #dcdfe6 1px solid;
    }

    &>.tabs-select:not(:first-child) {
        border-left: #dcdfe6 1px solid;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.tabs-panel-container {
    position: relative;
}