.table {
    position: relative;
    background-color: white;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(235, 238, 245);
        border-radius: 0.5rem;
    }
}

.table-title {
    position: sticky;
    top: 0rem;
    background-color: white;
    z-index: 1;
}

.table-body {
    position: relative;
    z-index: 0;
}

.table-border {
    border: 1px solid #ebeef5;
}

span {
    padding: 0rem 0.5rem;
    font-family: iconfont;
}